.main__news {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main__news__title{
    font-weight: 600;
    font-size: 28px;
}

@media (max-width: 1025px) {
    .main__news__title{        
        font-size: 24px;
    }
}

@media (max-width: 426px) {
    .main__news__title{        
        font-size: 20px;
    }

    .main__news {
        padding: 20px 0;
    }
}

