.product__wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.product__card {
    display: flex;
    gap: 50px;
}

.product__imges{
    width: 100%;
}

.product__img{
    width: 600px;
}

.product__img__grup.ant-image-img {
    width: calc(150px - 20px);
    border: 1px solid #d9e4f1;
    margin: 10px;
}

.product__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
}

.product__title{
    font-size: 36px;
    font-weight: 600;
}

.product__sub{
    display: flex;
    margin-bottom: 30px;
    gap: 60px;
}

.product__stock{
    display: flex;
    align-items: center;
}

.product__stock__info{
    background: #d3fedc;
    padding: 8px 12px;
}

.product__review__link{
    border-bottom: dotted 1px #172542;
}

.product__price{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}

.product__btn{
    max-width: 150px;
    background-color: #fad89d;
    height: 50px;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 25px;
    margin-bottom: 20px;
}

.product__messagers{
    display: flex;
    gap: 20px;
}

.product__messagers .messager__viber,
.product__messagers .messager__telegram,
.product__messagers .messager__whatsapp {
    padding: 6px 6px 0 6px;
    border-radius: 10px;
    border: solid 1px #fad89d;
}

.product__messagers .messager__viber .icon__viber,
.product__messagers .messager__telegram .icon__telegram,
.product__messagers .messager__whatsapp .icon__whatsapp {
    width: 40px;
}

.product__conditions{
    display: flex;
    gap: 28px;
}

.condition {
    width: 132px;
}

.conditions__btn{
    width: 100%;
    padding: 18px 20px;
    border: 1px solid #d9e4f1;
    border-radius: 12px;
    background: none;
}

.conditions__btn:hover{
    background-color: rgba(114, 142, 174, 0.3);
}

.conditions__title{
    font-size: 16px;
    margin-top: 8px;
}

.product__descriptions{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ant-modal-body .breadCrumbs,
.ant-modal-footer {
    display: none;
}

@media (max-width: 1152px){
    .product__img{
        width: 486px;
    }

    .product__img__grup.ant-image-img {
        width: calc(121px - 20px);
    }
}

@media (max-width: 1024px){
    .product__card{
        flex-direction: column;
        gap: 30px;
    }

    .product__imges {
       display: grid;
       grid-template-columns: auto auto;
       grid-template-rows: auto;
       gap: 30px
    }

    .product__img {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .product__imgs__grup{
        grid-column: 1/2;
        grid-row: 1/2;

        display: flex;
        flex-direction: column;
    }
    
    .product__sub,
    .product__price {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .product__img{
        width: 400px;
    }

    .product__img__grup.ant-image-img {
        width: 80px;
    } 

    .product__title{
        font-size: 32px;
    }
}

@media (max-width: 425px) {
    .product__imges{
        gap: 20px
    }
    
    .product__img{
        width: 280px;
    }

    .product__img__grup.ant-image-img {
        width: 60px;
    } 

    .product__title{
        font-size: 28px;
    }

    .product__sub{
        gap: 20px;
        margin-bottom: 0px;
    }

    .product__messagers .messager__viber .icon__viber,
    .product__messagers .messager__telegram .icon__telegram,
    .product__messagers .messager__whatsapp .icon__whatsapp {
        width: 30px;
    }

    .product__price {
        font-size: 24px;
        margin-bottom: 0px;
    }

    .product__btn{
        height: initial;    
        padding: 12px 15px;    
        margin-bottom: 10px;
    }

    .conditions {
        width: 100%;
    }

    .conditions__btn {
        padding: 10px 15px;
    }

    .conditions__btn img{
        width: 56px;
    }

    .product__conditions {
        gap: 25px;
    }

    .product__descriptions {
        font-size: 14px;
    }

    .ant-tabs .ant-tabs-tab {
        font-size: 20px;
    }
}

@media (max-width: 375px) {
    .product__card {
        gap: 20px;
    }

    .product__imges {
        display: flex;
        flex-direction: column;
        gap: 30px
    }

    .product__imgs__grup {
        flex-direction: row;
        gap: 0;
    }

    .product__img__grup.ant-image-img {
        width: 40px;
    } 

    .ant-image-preview-root .ant-image-preview-img {
        max-height: 50%;
    }

    .product__info {
        font-size: 14px;
    }

    .product__title {
        font-size: 24px;
    }

    .product__sub {
        flex-direction: column;
    }

    .product__price {
        font-size: 20px;
    }

    .product__btn {
        font-size: 14px;
        max-width: 120px;

        height: initial;
        padding: 8px 0;
        margin-bottom: 0;
    }

    .product__conditions {
        gap: 20px;
    }

    .conditions__btn {
        padding: 8px 15px;
    }

    .conditions__btn img{
        width: 48px;
    }

    .conditions__title {
        font-size: 14px;
        margin-top: 5px;
    }
}