.catalogList__item {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    width: 250px;
    position: relative;
}

.catalogList__item__img {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    width: 250px;
    height: 250px;
    cursor: pointer
}

.catalogList__item__title {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    font-size: 18px;
    cursor: pointer
}

.catalogList__item__price {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    font-size: 18px;
    font-weight: 600;
}

.catalogList__item__btns {
    grid-column: 2 / 3;
    grid-row: 3 /4;

    justify-self: end;
}

.catalogList__item__btns .ant-btn {
    height: initial;
    padding: 0px 15px;
    font-size: 16px;
}

.catalogList__item__btns .ant-btn:last-child{
    padding-right: 0;
}

.catalogList__item__btns .ant-btn .anticon svg:hover {
    width: 20px;
    height: 20px;
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  border-color: #d9d9d9 !important;
  box-shadow: none !important
}


.catalogList__item__newStatus {
    width: 50px;
    padding: 5px;
    background-color: rgb(191, 212, 237);
    border-radius: 8px;
    font-weight: 600;
    text-align: center;
    position: absolute;
}
