.viewProducts__wrapper {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.viewProducts__title{
    font-weight: 600;
    font-size: 28px;
}

.viewProduct__info{
    margin-bottom: 10px;
}

.viewProduct__img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.viewProduct__title{
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
}

@media (max-width: 1025px) {
    .viewProducts__title{        
        font-size: 24px;
    }
}

@media (max-width: 801px) {
    .viewProduct__img{
        width: 150px;
        height: 150px;
    }
    
    .viewProduct__title{
        width: 150px;
    }
}

@media (max-width: 426px) {
    .viewProducts__title{        
        font-size: 20px;
    }

    .viewProduct__title{
        display: none;
    }
}

@media (max-width: 376px) {
    .viewProduct__img{
        width: 100px;
        height: 100px;
    }
    
    .viewProduct__title{
        width: 100px;
    }
}