.slick-dots li button:before {
   color: #172542 !important;
   margin-top: 10px;
}

.productsNew__wrapper {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.productsNew__wrapper .slider-container,
.productsNew__wrapper .slick-list {
    height: 365px;
}

.productsNew__title{
    font-weight: 600;
    font-size: 28px;
}

@media (max-width: 1025px) {
    .productsNew__title{        
        font-size: 24px;
    }
}

@media (max-width: 801px) {
    .productsNew__wrapper .slider-container,
    .productsNew__wrapper .slick-list {
        height: 274px;
    }
}

@media (max-width: 426px) {
    .productsNew__title{        
        font-size: 20px;
    }

    .productsNew__wrapper .catalogList__item__title {        
        display: none;
    }

    .productsNew__wrapper .slider-container,
    .productsNew__wrapper .slick-list {
        height: 172px;
    }
}

@media (max-width: 376px) {
    .productsNew__wrapper .catalogList__item {        
        gap: 0;
    }

    .productsNew__wrapper .catalogList__item__img {
        margin-bottom: 10px;
    }  
    
    .productsNew__wrapper .slider-container,
    .productsNew__wrapper .slick-list {
        height: 149px;
    }
}