.order__form {
    display: flex;
    gap: 30px;
}

.order__form__info{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__title {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 15px;
}

.personal__data {
    display: grid;
    grid-template-columns: repeat(2 auto);
    grid-template-rows: repeat(3 auto);
    column-gap: 20px;
}

.personal__data .form__item{
    width: 100%;
}

.form__item {
    width: calc(50% - 10px);
}

.item__lastname{
    grid-column: 1 / 2;
    grid-row: 1 /2 ;
}

.item__firstname {
    grid-column: 1 / 2;
    grid-row: 2 /3 ;
}

.item__middlename {
    grid-column: 1 / 2;
    grid-row: 3 /4 ;
}

.item__email{
    grid-column: 2 / 3;
    grid-row: 1 /2 ;
}

.item__tel{
    grid-column: 2 / 3;
    grid-row: 2 /3 ;
}

.address__items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

.form__info__select{
    display: flex;
    justify-content: space-between;
}

.payment__items,
.delivery__items {
    display: flex;
    flex-direction: column;
}

.payment__item,
.delivery__item{
    font-size: 20px;
}

.form__item.comment {
    width: 100%;
}

.form__card {
    display: flex;
    flex-direction: column;
}

.form__card__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form__card__title {
    margin-bottom: 0;
}

.form__card__item{
    border: solid 1px #d9e4f1 ;
    padding: 10px 20px;
    font-size: 16px;

    display: grid;
    grid-template-columns: repeat(3 auto);
    grid-template-rows: repeat(2 auto);
    gap: 10px;
}

.card__item__img{
    width: 100px;

    grid-column: 1 / 2;
    grid-row: 1 / 3;    
}

.card__item__title{
    width: 200px;
    font-weight: 600;

    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.card__item__count {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.card__item__sum {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.card__items__total,
.form__deliveryPrice,
.card__total {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.card__items__total div,
.form__deliveryPrice div,
.card__total div {
    font-weight: 600;
}

.card__items__total,
.card__total {
    margin: 20px 0;
}

.card__total {
    background: #d3fedc;
}

.form__card__btn{
    justify-self: end;
}

@media (max-width: 801px) {
    .order__form {
        flex-direction: column;
        gap: 10px;
    }

    .order__form__info{
        width: 100%;
    }

    .card__item__title{
        width: 100%;
    }

   .form__card__btn {
       margin: 10px auto;
    }

   .form__card__header {
        justify-content: start;
        gap: 30px;
    }
}

@media (max-width: 426px) {
    .form__title {
        font-size: 24px;        
    }

    .form__card__header {       
        margin-bottom: 10px;
    }
    
    .personal__data {
        display: flex;
        flex-wrap: wrap;

        gap: 0;
    }

    .form__item{
        width: 100%;
    }

    .personal__data .ant-form-item,
    .form__info__address .ant-form-item {
        margin-bottom: 10px;
    }

    .form__info__select{
        flex-direction: column;
        justify-content: start;
    }

    .payment__item,
    .delivery__item {
        font-size: 16px;
    }
}

@media (max-width: 376px) {
    .form__title {
        font-size: 20px;
    }

    .card__items__total,
    .form__deliveryPrice,
    .card__total {
        font-size: 16px;
    }

    .form__card__item{
        font-size: 14px;
    }
}