.ant-layout-header,
.ant-layout-header {
    flex: 0 0 auto;
}

.ant-layout-content {
    flex: 1 0 auto;
}

.ant-layout-header {
    padding: 0;
}

.ant-layout-footer {
    padding: 24px 0;
}

.header__wrapper {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 15px
}

.header__menu .ant-btn {
    padding: 0;
}

.header__logo {
    display: flex;
    gap: 5px;
    align-items: center;
}

.logo__img {
    width: 50px;
    height: 40px;
}

.logo__title {
    color: #172542;
    font-size: 40px;
    font-weight: 600;
}

.header__btn .ant-btn {
    padding: 0 2px;
    font-size: 12px;
}

.header__wrapper .ant-btn-primary {
    color: #172542;
    background-color: #fff;
    text-transform: uppercase;
    box-shadow: none;
    font-size: 16px;
    letter-spacing: .1em;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 3px;
}

.header__wrapper .ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: #fff;
}

.header__wrapper .ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover span {
    color: #728eae;
}

.header__wrapper .ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover .burger_icon {
    color: #728eae;
}

.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: #728eae;
}

.ant-btn-default {
    border: none;
    box-shadow: none;
}

@media (max-width: 768px){
    .ant-layout-header {
        height: 40px;
        line-height: 40px;
    }

    .header__wrapper {
        border-bottom: 1px solid rgba(5, 5, 5, 0.06);
    }
    
    .header__wrapper .ant-btn-primary span {
        display: none;
    }

    .header__wrapper {
        justify-content: initial;
    }

    .header__logo {
        flex-grow: 1;
        margin-left: 15px;
    }

    .logo__title{
        font-size: 30px;
    }

    .logo__img {
        width: 40px;
        height: 30px;
    }

    .header__btn .ant-btn >.anticon+span  {
        display: none;
    }

    .ant-btn-group >.ant-btn {
        height: 10px;
    }

    .header__btn .ant-btn {
        padding: 0 6px;
    }
}

@media (max-width: 375px){
    .header__logo {
        margin-left: 10px;
    }
    
    .logo__title{
        font-size: 26px;
    }

    .logo__img {
        width: 32px;
        height: 26px;
    }
}
