.auth__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 300px;
}

.auth__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.login-form-button {
    background-color: #fad89d;
    font-size: 18px;
    height: 40px;
}

.login-form_linck {
    font-size: 18px;
}

.login-form_linck a {
    font-weight: 600;
    margin-left: 20px;
}

@media (max-width: 375px){
    .auth__wrapper {
        width: 250px;
        margin: 10px auto;
    }
    
    .auth__title {
        font-size: 20px;
    }
    
    .login-form-button,
    .login-form_linck {
        font-size: 16px;
    }
    
    .login-form_linck a {
        margin-left: 10px;
    }        
}