.catalogList__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.catalogList__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalogList__header__info {
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.catalogList__header__title {
    font-weight: 600;
    font-size: 38px;
    line-height: 140%;
}

.catalogList__header__total {
    color: #959595;
    font-size: 16px;
    line-height: 21px;
    width: 130px;
}

.header__sort__title {
    font-size: 16px;
    line-height: 130%;
    margin-right: 8px;
    color: #959595;
}

.header__sort__select.ant-select-single .ant-select-selector {
    font-size: 16px;
    border: none;
}

.header__sort__select.ant-select .ant-select-arrow {
    font-size: 9px;
}

.header__sort__select.ant-select-single.ant-select-show-arrow .ant-select-selection-item {
    padding-inline-end: 14px;
}

.catalogList__content {
    display: flex;
}

.catalogList__filters {
    overflow: auto;
    padding-right: 16px;
    scrollbar-color: #f0f0f0 #fff;
    scrollbar-width: thin;
    width: 270px;
}

.catalogList__filter__title {
    font-size: 16px;
    font-weight: 600;
}

.catalogList__filter__categories .ant-menu .ant-menu-submenu-title {
    font-size: 16px;
}

.catalogList__filter__categories .ant-menu .ant-menu-submenu-arrow {
    inset-inline-end: 8px;    
}

.catalogList__main {
    width: 100%;
}

.catalogList__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    column-gap: 20px;
    row-gap: 40px;
}

.catalogList__item {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    width: 220px;
}

.catalogList__item__img {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    width: 220px;
    height: 220px;
}

.catalogList__item__title {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    font-size: 16px;
}

.catalogList__item__price {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    font-size: 18px;
    font-weight: 600;
}

.catalogList__item__btns {
    grid-column: 2 / 3;
    grid-row: 3 /4;

    justify-self: end;
}

.catalogList__item__btns .ant-btn {
    height: initial;
    padding: 0px 15px;
    font-size: 16px;
}

.catalogList__item__btns .ant-btn:last-child{
    padding-right: 0;
}

.catalogList__item__btns .ant-btn .anticon svg:hover {
    width: 20px;
    height: 20px;
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  border-color: #d9d9d9 !important;
  box-shadow: none !important
}

.ant-rate {
    color: #fadb14;
}



