.catalogList__wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.catalogList__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.catalogList__header__info {
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.catalogList__title {
    font-weight: 600;
    font-size: 38px;
    line-height: 140%;
}

.catalogList__total {
    color: #959595;
    font-size: 16px;
    line-height: 21px;
    width: 130px;
}

.header__sort__title {
    font-size: 16px;
    line-height: 130%;
    margin-right: 8px;
    color: #959595;
}

.header__sort__select.ant-select-single .ant-select-selector {
    font-size: 16px;
    border: none;
}

.header__sort__select.ant-select .ant-select-arrow {
    font-size: 9px;
}

.header__sort__select.ant-select-single.ant-select-show-arrow .ant-select-selection-item {
    padding-inline-end: 14px;
}

.catalogList__content {
    display: flex;
}

.catalogList__filters {
    overflow: auto;
    padding-right: 16px;
    scrollbar-color: #f0f0f0 #fff;
    scrollbar-width: thin;
    width: 270px;
}

.catalogList__filter__title {
    font-size: 16px;
    font-weight: 600;
}

.catalogList__main {
    width: 100%;
}

.catalogList__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    column-gap: 20px;
    row-gap: 40px;
}

/* 
@media (max-width: 800px) {
    .catalogList__title {
        font-size: 30px;
    }
}

@media (max-width: 425px) {
    .catalogList__header__info {
        margin: 15px 0;
    }
    
    .catalogList__title {
        font-size: 28px;
    }
    
}

@media (max-width: 375px) {
    .catalogList__header__info {
        margin: 10px 0;
    }
    
    .catalogList__title {
        font-size: 24px;
    }
     
} */